.ul-contact {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 14px 8px;
    justify-content: space-between;
}

.contact-list {
    padding: 20px;
    height: 600px;
    overflow: overlay;
    position: relative;
    width: 100%;
}

.image-contact {
    width: 50px;
    border-radius: 50%;
}

.options-contact {
    align-self: center;
}

.options-contact a {
    align-self: center;
    text-decoration: none;
}

.options-contact a:hover {
    text-decoration: none;
}

.title-contact {
    font-size: 18px;
    align-self: center;
    margin: 0;
    margin-left: 14px;
    color: #444;
}

.user-contact {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

.friend-state {
    padding: 8px;
    position: absolute;
    border-radius: 50%;
    margin-left: -15px;
    margin-top: 35px;
}

.left-info {
    display: flex;
}

.options-contact img {
    width: 20px;
    margin: 0 9px;
}