/*
* Login Styles
*/

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Light.ttf);
    src: url(../fonts/Montserrat-Bold.ttf);
    src: url(../fonts/Montserrat-Medium.ttf);
}

.containerLogin {
    font-family: 'Montserrat', sans-serif;
    max-width: 1300px;
    padding: 60px;
    margin: auto;
    margin-top: 20px;
}

.uminks {
    position: absolute;
    width: 110px;
    top: 0;
    left: 0;
}

.sectionTabs {
    flex-direction: column;
}

.loginUrl {
    text-decoration: none !important;
}

.nav-item {
    line-height: 2;
    text-align: center;
}

.formSection {
    padding: 1.5em;
}

.btn-primary {
    background-color: #CC58A6;
    border-color: #CC58A6;
}

.sectionTabs a {
    color: #CC58A6;
}

.sectionTabs a:hover {
    color: #CC70A6;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #CC70A6 !important;
    border-color: #CC70A6 !important;
}

.figure {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 70% 75%, 35% 100%, 50% 75%, 0% 75%);
    display: flex;
    top: calc(0px - 40px);
    right: 30px;
    position: absolute;
    border-radius: 25px;
    width: 60%;
    flex-direction: column;
    height: calc(265px);
    background: #CC70A6;
    padding: 30px;
    align-items: flex-end;
    z-index: 1;
}

.footer {
    background: #333;
    color: #ddd;
    padding: 1em;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.titleLogin {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 32px;
}

.imageLogin {
    position: relative;
    width: 500px;
    height: 500px;
}

.formContainer {
    -webkit-box-shadow: 4px 4px 7px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 7px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 7px 2px rgba(0, 0, 0, 0.5);
    background: #fff;
    border-radius: 5px;
    padding: 1.5em;
}

.utalk {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    display: inline-block;
    font-weight: bold;
    font-size: 36px;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

/*
* Tablet Styles
*/
@media screen and (max-width: 1200px) {
    .titleLogin {
        font-size: 24px;
    }

    .figure {
        right: 0px;
        width: 70%;
    }
}


/*
* Mobile Styles
*/
@media screen and (max-width: 768px) {

    .containerLogin {
        padding: 10px;
    }

    .imageLogin {
        position: absolute;
        width: 300px;
        height: 300px;
    }

    .titleLogin {
        font-size: 18px;
    }

    .figureRow {
        justify-content: center;
        margin: 3em 0;
    }

    .figure {
        padding: 10px;
        height: calc(150px);
        position: relative;
        top: 0;
        width: 65%;
        left: 50px;
    }

    .uminks {
        position: relative;
    }

    .logoRow {
        justify-content: center;
    }

    .containerLogin {
        font-size: 13px;
    }

    .sectionTabs li {
        font-size: 16px;
        text-align: center;
    }

    .formContainer {
        padding: 10px;
    }

    .formCol {
        margin: 2em 0px;
    }

    .utalk {
        font-size: 18px;
    }


}

@media screen and (max-width: 400px) {
    .figure {
        height: calc(200px);
    }
}