#page-content-wrapper {
    background-color: #fff !important;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

.setting {
    font-size: 16px;
}

.settingsIcon {
    width: 16px;
}

.setItem {
    color: black !important;
    font-size: 14px;
}

.state {
    width: 16px;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1rem;
    font-size: 1.2rem;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

.list-group-flush .list-group-item {
    font-size: 14px;
}

#sidebar-wrapper {
    background: rgb(40, 74, 153);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4286f4, rgb(40, 74, 153));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4286f4, rgb(40, 74, 153));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.list-group.list-group-flush a {
    display: flex;
    justify-content: space-between;
}

.list-group img {
    width: 14px;
}

.navbar {
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    outline: none;
    outline-color: #fff;
}

.sideNav {
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    z-index: 1;
    color: #fff;
}

.list-group a {
    color: #fff;
}

.bgCustom {
    background: rgb(40, 74, 153);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4286f4, rgb(40, 74, 153));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4286f4, rgb(40, 74, 153));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bgCustomReverse {
    background: rgb(40, 74, 153);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, rgb(40, 74, 153));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, rgb(40, 74, 153));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

ul.navbar-nav.ml-auto.mt-2.mt-lg-0 li a {
    color: #fff;
}

.list-group-item.active {
    z-index: 2;
    color: #ddd;
    background-color: #ddd;
    border-color: rgba(220, 220, 220, 0.4);
}

.list-group-item-action:hover {
    z-index: 1;
    color: #ddd;
    text-decoration: none;
    background-color: #eee;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

.svgButton:not(:disabled) {
    background: none;
    border: none;
}

.svgButton img {
    width: 40px;
}

.svgButton:focus {
    outline: none;
}

.svgButton .visible {
    fill: #fff !important;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}


/*
* Modal
*/

.addImage {
    width: 80px;
}

.addImage:hover {
    cursor: pointer;
}

.state-choice {
    width: 12px;
    align-self: center;
    height: 12px;
    margin-left: 8px;
    border-radius: 50%;
}

.status-list {
    padding: 0 20px;
    padding-bottom: 15px;
}

.status-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.status-ul li:hover {
    background: #efefef;
}

.status-ul li a {
    display: flex;
    text-decoration: none;
    color: #444;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}